.Row {
    height: calc(100vh - 81px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Container {
    background-color: #ffffff;
    border: 1px solid #f0f1f9;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #2142b2;
    margin-bottom: 20px;
  }
  

  .Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 5px;
    color: #7177a1;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
  }
  
 
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  
  .Link span {
    color: #ff9254;
    font-weight: bold;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }
  
  @media (max-width: 767px) {
    .Container {
      padding: 20px;
    }
  }